.welcome
  .likes
    %textarea
  .choices
    .choice
      %span.like like
      %span.name Choice 1
      %span.dislike dislike
    .choice
      %span.like like
      %span.name Choice 2
      %span.dislike dislike
    .choice
      %span.like like
      %span.name Choice 3
      %span.dislike dislike
  .dislikes
    %textarea
:javascript
  Strata.Welcome.bootstrap();
