.welcome
  .likes
    %ul.tags
  .choices
    %ul.tags
      %li.tag
        %a.like like
        %span.tagText Choice 1
        %a.dislike dislike
        %a.remove remove
      %li.tag
        %a.like like
        %span.tagText Choice 2
        %a.dislike dislike
        %a.remove remove
      %li.tag
        %a.like like
        %span.tagText Choice 3
        %a.dislike dislike
        %a.remove remove
  .dislikes
    %ul.tags
:javascript
  $(document).ready(function() {
    Strata.Welcome.bootstrap();
  });
