.welcome
  .title
    %center= @question.text
  .likes
    %ul.tags
  .neutral
    %ul.tags
    - @question.possible_responses.each do |response|
      %li.tag
        %a.like like
        %span.tagText= response
        %a.dislike dislike
        %a.remove remove
  .dislikes
    %ul.tags
  %form{:method => "post", :action => inquiries_path, :id => "createInquiry"}
    =hidden_field_tag "question_id", @question.id
  .submit.clear
    Start Planning
:javascript
  $(document).ready(function() {
    new Strata.ChoiceSelector(".welcome");
  });
