@import "mixins.scss";

@mixin hide_like_and_dislike {
  .tag {
    a.like { @include hidden; }
    a.dislike { @include hidden; }
  }
}

@mixin hide_remove {
  .tag {
    a.remove { display: none; }
  }
}

.welcome {
  .likes {
    width: 20%;
    float: left;
    @include hide_like_and_dislike;
  }

  .neutral {
    float: left;
    text-align: center;
    width: 60%;
    @include hide_remove;
  }

  .dislikes{
    width: 20%;
    float: left;
    @include hide_like_and_dislike;
  }

  #createInquiry {
    @include hidden;
  }
}
