.welcome {
  .likes {
    width: 20%;
    float: left;
  }

  .choices {
    float: left;
    text-align: center;
    width: 60%;

    .choice {
    }
  }

  .dislikes{
    width: 20%;
    float: left;
  }
}
