.question{:id => question.id }
  %a{:class => "questionLink"}= question.text
  .selector.hidden{:id => "choices_#{question.id}"}
    .title
      %center.questionTitle
    .likes
      %ul.tags
    .neutral
      %ul.tags
    .dislikes
      %ul.tags
    .submit.clear
      Done
:javascript
  $(document).ready(function(){
    var questionData = #{question.possible_responses.to_json};
    var question = new Strata.Question(".#{question.id}", questionData);
  });
